[Unit]
Description = shipping Service
[Service]
User=roboshop
Environment=CART_HOST=cart.{{ env }}.idevops25.online
Environment=DB_HOST=mysql.{{ env }}idevops25.online
ExecStart=/bin/node /app/server.js
SyslogIdentifier=shipping

[Install]
WantedBy=multi-user.target